@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <img src="https://images.squarespace-cdn.com/content/v1/53f6112fe4b048b8139cd024/1493957660639-Y4ZBIEDHI1FOFTQ67VIW/ke17ZwdGBToddI8pDm48kNrePD7zRHMtb7iPVjmpZh8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYwL8IeDg6_3B-BRuF4nNrNcQkVuAT7tdErd0wQFEGFSnEy03hAx38DbjSQPtzJ4gc7UyX6BxpfHTumAgxMo1MSk7kiv_zhe_oqIBjr42wgElQ/image-asset.png" />
</div>
